@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap); 

*{
    box-sizing: border-box; /* Esto es para que el width:350 lateral no varia debido al usar padding:1em*/
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
}
.lateral{
    position: fixed;
    padding: 2em;
    width:350px;
    height: 100%;
    background-color: #3c59ff;
}
 /* Nombre y Foto del perfil*/
.perfil__circulo{
    width: 60px;
    height: 60px;
    overflow:hidden;
    border-radius:50%;    
}

.perfil__foto{
    width:100%;
}

.perfil__nombres{
    position: absolute;
    color: #fff;
    font-size:23px;
    width: 300px;
    margin-left:0.5em;
}

.perfil__circulo, .perfil__nombres{
    display: inline-block;
    vertical-align: middle;

}

/* Agradecimientos Container */
.agradecimiento-container{
    position: relative;
    max-width:350px;
    max-height: 50%;
    stroke-width: 15;
}

/* Estrella */

.estrella{
    position: absolute;
    margin-top: 30%;
    z-index: 1;
}
.estrella path{
    fill: #0030ce;
    stroke: #0030ce;
}
.estrella:hover path{
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
}
.estrella:hover path{
    animation: animacion-estrella 4.5s linear forwards;
}
@keyframes animacion-estrella
{
    0%
    {
        stroke-dashoffset: 0;
    }
    20%
    {
        stroke-dashoffset: 1560;
    }
    40%
    {
        stroke-dashoffset: 3120;
    }
    60%
    {
        stroke-dashoffset: 3120;
        stroke-dasharray: 0;
        fill: #0030ceb0;

    }
    80%{
        fill: #0030ce52;
    }
    100%{
        stroke-dashoffset: 0;
        fill: transparent;
        stroke-width: 5;
    }
}

/* Texto de Agradecimiento */
.texto{
    position: absolute;
    margin-top: 70%;
    text-align: center ;
    margin-left: 2.5em;
}
.texto__gracias{
    font-family: 'Nerko One', cursive;
    font-size: 1.5em;
    color: #003cff; 
}
/* Informacion Personal*/
.informacion{
    position: absolute;
    bottom: 2em;
}

.informacion__titulo{
    font-size: 25px;
}
.informacion__descripcion{
    font-size: 18px;
    color: black;
}
.informacion__descripcion .informacion__link:hover{
    color: #829fff;
}
 /* Proyectos*/
.proyectos{
    margin-left: 350px;
    padding: 2em 3em;
}
 /* row*/
 .row{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
 }
 /* proyecto*/
 .proyecto{
    background-color:#3c59ff52;
    padding: .5em;
    border-style: solid;
    border-color: #3c59ff74;;
 }
.proyecto__imagen{
    width: 100%;
    height: 45vh;
}
.proyecto__titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: black;
}
.proyecto__descripcion{
    color: black;
}
/* Habilidades*/
.habilidad{
    background-color: hsl(175, 75%, 24%);
    color:#fff;
    font-size: 12px;
    display:inline-block;
    padding: .5em;
    text-transform: uppercase;
}

.habilidades{
    padding: 0.5em;    
    text-align: center;
}

.habilidad__proyecto{
    background-color: #3c59ff;
    color:#fff;
    font-size: 15px;
    display:inline-block;
    padding: .7em;
    text-transform: uppercase;
}
.proyecto__descripcion{
    margin-left: 5px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1920px) {

}
@media screen and (min-width: 720px) and (max-width: 1440px) {
    .row{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .proyecto__imagen{
        height: 20vh;
    }
    .habilidad__proyecto{
        margin: 5px;
    }
    .informacion{
    position: relative;
    top: 30em;
    }
}
@media screen and (max-width: 720px) {    
    
    .lateral{
        width: 100%;
        height: 460px;
        position: relative;
    }
    .perfil{
        display: block;
    }
    .perfil__circulo{
        display: block;
        margin: auto;
        width: 200px;
        height: 200px;
        overflow:hidden;
        border-radius:50%; 
    }
    .perfil__nombres{
        display: block;
        position: relative;
        margin-left: auto;
    }
    .perfil__nombres{
        margin: auto;
        margin-top: 10px;
        text-align: center;
        font-size: 30px;
    }
    .agradecimiento-container{
        visibility: hidden;
    }
    .informacion{
        margin-bottom: 0px;
    }
    .proyectos{
        margin-left: 0px;
    padding: .5em 1em;;
    }
    .row{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .proyecto__imagen{
    height: 25vh;
    }
    .habilidad__proyecto{
        font-size: 12px;
        margin: 5px;
    }
}